.member_list li {
	color: #232824; 
	text-align: left;
	padding: 20px;
}

.member_list {

}

span img{
	display: inline;
}

img {
	width: 200px;
	height: auto;
}

#discord_link {
	font-family: "Apple Chancery", cursive;
	font-size: 22px;

	padding: 10px;
}
#discord_link a {
	color: indigo;
}	
