body {
	text-align: center;
	margin-left: auto; 
	margin-right: auto;

	background-color: whitesmoke;
}

h2 {
	border: 6px dashed lightgray;
	padding: 10px;
	border-radius: 40px 20px;
    display: inline-flex;
}

.lichess_problem {
	float: right; 
}



