#chessClubLogo {
	align-self: center; 
	margin: 0em 1em 0em 1em;

	width: 3em;
	height: auto;
}

#pageTopH1 {
	margin: 0em;
}

#topBar {
}

#pageTopCalendar {
	border: .2em solid #232824;
	border-radius: .5em; 
	background-color: #e8ecfc;
}

.peopleImages {
	width: 5em;
}

.members {
}

#cabinetMembers {
}

#regularMembers {
}