nav {
	padding-top: 10px;
}

nav ul {
	list-style: none;
}

nav li {	
	display: inline-block;
	margin: 20px;
	padding: ((80*1.32+20)/2)px;
	font-family: "Times New Roman", serif;
	font-size: 22px;
}

nav a {
	text-decoration: underline;
}
nav a:hover {
	background-color: whitesmoke;
}

header {
	background-color: goldenrod; 
	height: 130px;
}

.logo {
	float: left;

	width: 80px;
	height: auto;
	padding: 10px;
}
