header {
	display: inline-flex;
	text-align: center;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: goldenrod; 
}

nav {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #232824;
}

nav ul {
	list-style: none;
}

nav li {	
	display: inline-block;
	margin: 20px;
	padding: ((80*1.32+20)/2)px;
}

nav a {
	text-decoration: underline;
}
nav a:hover {
	background-color: whitesmoke;
}

h1{
	border: 6px solid #232824;
	padding: 15px;
	border-radius: 40px 20px;
}

.logo {
	width: 80px;
	height: auto;
	padding: 10px;
}
