body {
	text-align: center;
	margin-left: auto; 
	margin-right: auto;

	background-color: whitesmoke;
}

title, h2, p {
	font-family: "Courier New", serif;
}

title {
	font-size: 160%;
}

#page_container {
	display: inline-block;
	border: 6px solid #232824;
	padding: 10px;
}