html, body {
	height: 100%;
}

body {
	text-align: center;
	margin-left: auto; 
	margin-right: auto;

	background: rgb(248,148,44);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(248,148,44,1) 100%);
}

h2, h3, p {
	font-family: "Courier New", serif;
	font-weight: bolder;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
	text-decoration: underline;
}

p {
	font-size: 18px;
}


#page_container {
	display: inline-block;

	border: 6px solid #232824;
	border-radius: 10px;
	padding: 10px;
}