body {
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	margin-right: 15px;
	margin-left: 15px;
}

.row > div {
	padding: 1em;
}

/*.col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}*/


#homePageWhatsNew {
	display: block;

	padding: 1em;
	border: .2em dashed #232824;
	border-radius: 1em;
	box-shadow: .5em .5em .5em gray;

	width: 10em;
}

#quickNewsContent {
	display: block;
}